body {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  background-color: #1a1a1a;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: medium;
}
/*
Make it more calculator like
*/
.container {
  background-color: rgb(42, 42, 42);
  color: white;
  border-radius: 20px; 
  padding: 20px; 
  max-width: 600px;
  margin: 50px auto; 
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
}

.Title {
  color: white; 
}

#bmi-img {
  width: 50%; 
  height: auto; 
  margin-bottom: 15px;
}
#inputsection{
  margin-left: 10px;
  text-align: left;
}
input[type="text"], select {
  padding: 12px 15px;
  border-radius: 10px;
  border: 2px solid #007BFF; 
  margin-bottom: 10px; 
  font-size: 1em;
  transition: border-color 0.3s, box-shadow 0.3s;
  background-color: #f8f9fa;
}

.result {
  font-size: 1.5em;
  margin-top: 20px;
  color: #007BFF;
}

button {
  padding: 10px 25px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

h3 {
  margin-top: 30px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 5px 0;
}

.bold{
  font-weight: bold;
}